* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: font-1;
  src: url(../fonts/Allura-Regular.ttf);
}

@font-face {
  font-family: font-2;
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: font-3;
  src: url(../fonts/Roboto-Light.ttf);
}

$color-1: #fff;
$color-2: #000;
$color-3: #a47245;
$color-4: #eee;
$color-5: #7f8183;
$color-6: #21201e;
$color-7: #1b1a18;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: $color-6;
}

body li {
  list-style: none;
}

body a {
  text-decoration: none;
}
