* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: font-1;
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: font-2;
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: font-3;
  src: url(../fonts/Roboto-Light.ttf);
}
body {
  background: #21201e;
}

body li {
  list-style: none;
}

body a {
  text-decoration: none;
}

header {
  height: 100vh;
  background: url(../img/bg-slider-06.jpg) center/cover;
  color: #fff;
  font-family: "font-3", sans-serif;
}
header nav {
  display: flex;
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0px;
}
header nav h1 {
  font-family: "font-1", sans-serif;
  font-size: 2.5rem;
  margin-right: 20px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 80px;
}
header nav ul li {
  display: flex;
  text-transform: uppercase;
  font-size: 0.8rem;
}
header nav ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}
header nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav div a {
  color: #fff;
  padding: 10px;
}
header .headerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  flex-direction: column;
}
header .headerContent h2 {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: start;
  text-transform: uppercase;
  font-family: "font-2", sans-serif;
  position: relative;
  letter-spacing: 10px;
  height: 75px;
}
header .headerContent h2 span {
  font-size: 3rem;
  color: #a47245;
  font-family: "font-1", sans-serif;
  text-transform: none;
  position: absolute;
  top: -25px;
  letter-spacing: 0px;
}
header .headerContent img {
  width: auto;
  height: 30px;
  margin: 30px;
}
header .headerContent p {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background: #eee;
}
.section1 .section1-div1 {
  display: grid;
  width: 95%;
  height: 430px;
  border: 1px dashed #a47245;
  margin: 20px auto;
  justify-items: center;
}
.section1 .section1-div1 h3 {
  display: grid;
  justify-items: center;
}
.section1 .section1-div1 span:first-child {
  color: #a47245;
  font-family: "font-1", sans-serif;
  font-size: 2rem;
  font-weight: light;
  position: relative;
  top: 20px;
}
.section1 .section1-div1 span:last-child {
  font-family: "font-2", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.section1 .section1-div1 p {
  font-family: "font-3", sans-serif;
  text-align: center;
  color: #7f8183;
}
.section1 .section1-div1 #div1-img1 {
  margin: 15px auto;
}
.section1 .section1-div1 #div1-img2 {
  border-radius: 50%;
  width: auto;
  height: 70px;
}
.section1 .section1-div1 #nom-chef1 {
  font-family: "font-2", sans-serif;
  color: #000;
}
.section1 .section1-div1 #poste-chef1 {
  text-transform: uppercase;
  position: relative;
  bottom: 17px;
  font-size: 0.75rem;
  color: #7f8183;
}
.section1 .section1-div2 {
  background: url(../img/store-01.jpg) center/cover;
}

.section2 {
  position: relative;
}
.section2 .section2-div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
}
.section2 .section2-div1 h3 {
  color: #a47245;
  font-family: "font-1", sans-serif;
  font-size: 2rem;
  font-weight: light;
  margin: 30px auto 0;
}
.section2 .section2-div1 img {
  margin: 30px auto;
}
.section2 .section2-div1 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
}
.section2 .section2-div1 ul li {
  position: relative;
  color: #fff;
  font-family: "font-3", sans-serif;
}
.section2 .section2-div1 ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fff;
  top: 25px;
  left: 0;
}
.section2 .section2-div2 {
  background: #eee;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  height: 570px;
  margin: 0 auto;
  position: relative;
  top: -120px;
  z-index: 1;
}
.section2 .section2-div2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: #a47245;
}
.section2 .section2-div2 .section2-div2-div1 {
  display: grid;
  grid-template-columns: 25% 60% 10%;
  width: 100%;
  align-items: center;
  margin: 30px 10px;
  position: relative;
}
.section2 .section2-div2 .section2-div2-div1::after {
  content: "";
  position: absolute;
  width: 90%;
  top: 100px;
  left: 0;
  border-bottom: 1px dotted #7f8183;
}
.section2 .section2-div2 .section2-div2-div1 img {
  width: auto;
  height: 75px;
  border-radius: 50%;
}
.section2 .section2-div2 .section2-div2-div1 div {
  font-family: "font-3", sans-serif;
}
.section2 .section2-div2 .section2-div2-div1 div h4 {
  text-transform: uppercase;
  font-size: 0.8rem;
}
.section2 .section2-div2 .section2-div2-div1 div p {
  color: #7f8183;
}
.section2 .section2-div2 .section2-div2-div1 .price {
  color: #a47245;
  font-family: "font-2", sans-serif;
}
.section2 .section2-div3 {
  background: url(../img/bg-menu-01.jpg) center/cover;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 340px;
}

.section3 {
  position: relative;
  top: 20px;
}
.section3 .section3-div1 {
  display: flex;
  border: 1px solid black;
  width: 75%;
  margin: 80px auto;
  background: #000;
}
.section3 .section3-div1 .section3-div1-div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 20px;
  padding: 20px;
  border: 1px dotted #7f8183;
  width: 300px;
}
.section3 .section3-div1 .section3-div1-div1 h4 {
  display: flex;
  flex-direction: column;
  font-family: "font-2", sans-serif;
}
.section3 .section3-div1 .section3-div1-div1 h4 span {
  color: #a47245;
  font-family: "font-1", sans-serif;
  font-size: 2rem;
  margin-bottom: -13px;
}
.section3 .section3-div1 .section3-div1-div1 img {
  width: auto;
  height: 25px;
  margin-top: 25px;
}
.section3 .section3-div1 .section3-div1-div1 h5 {
  color: #a47245;
  font-family: "font-2", sans-serif;
  font-size: 0.8rem;
  margin: 25px auto 10px;
}
.section3 .section3-div1 .section3-div1-div1 p {
  font-size: 0.8rem;
}
.section3 .section3-div1 .section3-div1-div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  width: 100%;
  padding: 80px 50px;
  background: #eee;
}
.section3 .section3-div1 .section3-div1-div2 h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "font-2", sans-serif;
  font-size: 1.5rem;
}
.section3 .section3-div1 .section3-div1-div2 h4 span {
  color: #a47245;
  font-family: "font-1", sans-serif;
  font-size: 2rem;
  margin-bottom: -10px;
}
.section3 .section3-div1 .section3-div1-div2 img {
  width: auto;
  height: 25px;
  margin: 25px;
}
.section3 .section3-div1 .section3-div1-div2 form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "a b c" "d e f" "g g g";
}
.section3 .section3-div1 .section3-div1-div2 form input,
.section3 .section3-div1 .section3-div1-div2 form select {
  border: none;
  background: #eee;
  width: 100%;
}
.section3 .section3-div1 .section3-div1-div2 form .before {
  position: relative;
  margin: 15px 5px;
}
.section3 .section3-div1 .section3-div1-div2 form .before::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #7f8183;
  bottom: -5px;
  left: 0;
}
.section3 .section3-div1 .section3-div1-div2 form button {
  background: #1b1a18;
  color: #fff;
  font-family: "font-2", sans-serif;
  letter-spacing: 3px;
  border-radius: 30px;
  border: none;
  font-size: 0.6rem;
  grid-area: g;
  margin: 10px auto 0;
  height: 40px;
  width: 150px;
}/*# sourceMappingURL=index.css.map */